# Test outputs
/test/bin/*.dll
/test/bin/*.so

# Test logs
test/output.temp
test/exporter.temp
test/output.temp
test/cache
test/logs

# Plugin things
/src/plugins/*.smx
/src/scripting/private/

# Package things
package/
sourceforks.zip